mkdocs==1.5.3
mkdocs-material==9.5.17
mkdocs-material-extensions==1.3.1
markdown-checklist==0.4.4
jieba==0.42.1
cairosvg==2.7.1
mkdocs-git-revision-date-localized-plugin==1.2.4
mkdocs-material[imaging]==9.5.17
